* {
  border: 1px dotted black;
}

body {
  background: linear-gradient(to right, #ffa07a, #fcfbe3, #ffa07a);
}

table, td {
	border: 1px groove black;
  margin: auto;
}

td {
	padding: 10px;
}

th {
	background-color: gray;
	color: white;
}

header {
  width: 700px;
  margin: 0 auto;
  font-family: 'Amaranth', sans-serif;
  font-size: 60px;
}

h1 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

p {
  width: 525px;
  margin: 0 auto;
  text-align: center;
}

/*nav li {
  border: 1px solid orange;
  font-size: 15px;
  float: right;
}*/
