* {
  border: 2px dotted orange;
}

body {
  background: linear-gradient(to right, #fcfbe3, #ffa07a, #fcfbe3);
}

table, td {
	border: 1px groove black;
  margin: auto;
}

td {
	padding: 10px;
}

th {
	background-color: gray;
	color: white;
}

header {
  font-family: 'Amaranth', sans-serif;
  font-size: 60px;
}
